* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

:root {
    --back-color: lightgrey;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --invert-filter: invert(0.22);
    --h1-color: black;
    --hover-color: black;
}

.dark-theme {
    --back-color: black;
    --primary-color: #212121;
    --secondary-color: #edf2fc;
    --invert-filter: invert(1);
    --transform-rotate: rotateY(20deg) rotateX(20deg);
    --animation: icon 2s ease-in-out;
    --h1-color: white;
    --hover-color:black;
}

#moon-icon {
    transition: all 0.6s ease;
}

body {
    background-color: var(--primary-color);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--back-color);
    color: var(--secondary-color);
}

ul li {
    border: none;
    padding: 5px;
    border-radius: 10px;
    list-style-type: none;
    transition: all 0.5s ease;
}

ul li:hover {
    background-color: rgba(252, 160, 55, 0.829);
    clip-path: inset(10px 20px 100px40px);
}

li a {
    color: var(--secondary-color);
    text-decoration: none;
}

li a:hover{
    color: var(--hover-color);
}

#moon-icon {
    width: 20px;
    filter: var(--invert-filter);
    padding: 10px;
    color: white;
    border: none;
    display: block;
    text-align: center;
    animation: var(--animation);
    animation-iteration-count: infinite;
}

@keyframes icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    text-align: left;
    margin: 60px 50px;
}

.container::selection {
    background-color: grey;
}

.auto-type {
    background-image: url("images/sunset.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
}

h1 {
    color: var(--h1-color);
}